html,
body {
  font-family: "Arial Black", sans-serif;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

dialog {
  text-align: center;
  border-radius: 15px;
}

canvas.fullscreen {
  width: 100vw;
  height: 100vh;
}

dialog h1 {
  font-style: italic;
  font-size: 4.5em;
  letter-spacing: -1px;
  background-color: black;
  color: white;
  padding: 1rem;
  transition: 0.2s ease;
}

dialog h1:hover {
  background: none;
  color: blueviolet;
  transition: 0.2s ease;
}

dialog p {
  font-size: 1em;
  font-style: italic;
  text-transform: uppercase;
  background-color: black;
  color: white;
  padding: 1rem;
  transition: 0.2s ease;
}

dialog p:hover {
  background: white;
  color: blueviolet;
  transition: 0.2s ease;
}

#Hud {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: aquamarine;
  font-family: fantasy;
  font-size: 22px;
}