html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

dialog {
  text-align: center;
}

canvas.fullscreen {
  width: 100vw;
  height: 100vh;
}

#HUD {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: aquamarine;
  font-family: fantasy;
  font-size: 22px;
}

.healthbar {
  background-color: fuchsia;
}